---
import Layout from "../layouts/Layout.astro";
import Card from "../components/BusinessAreaCard.astro";
import Logo from "../assets/Cabanossy-Snurra_nobg.svg";
import BusinessAreaCard from "../components/BusinessAreaCard.astro";
import PortraitBridge from "../assets/bridge-portrait.jpg";
import PortraitCard from "../components/PortraitCard.astro";
import ShowcaseSiteItem from "../components/ShowcaseSiteItem.astro";
import VätterledensInvest from "../assets/VätterledenInvest.png";
import vhab from "../assets/VätterledenHolding.png";
import supai from "../assets/Supai.png";
import { Image } from "astro:assets";
---

<Layout title="Cabanossy - Web och mjukvara">
  <div class="items-center">
    <div class="gap-8 grid grid-cols-1 md:grid-cols-2">
      <div
        class="py-32 sm:py-24 col-span-2 flex flex-col items-center p-3 md:p-16 bg-gradient-to-tr from-blue-50 to-blue-100"
      >
        <Image
          src={Logo}
          class={"h-24 md:h-32 shrink rounded-full"}
          alt="cabanossy logo"
          width={500}
          decoding="async"
        />
        <div class="flex flex-col py-6 md:py-12 text-center gap-5">
          <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold">
            Web och mjukvara
          </h1>
          <p class="text-md sm:text-lg md:text-xl max-w-[700px]">
            Vi brinner för mjukvaruutveckling och web. Det syns på resultatet.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center gap-8 py-12 md:py-12 md:pt-24">
      <div class="max-w-[1300px] p-3 xl:p-0">
        <h2 class="text-2xl md:text-4xl font-bold text-center md:text-left">
          Våra affärsområden
        </h2>
        <div
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8 py-12"
        >
          <BusinessAreaCard title="Webbutveckling">
            <p>
              Detta är vanligtvis vad du som reklambyrå eller företag är
              intresserad av. Med oss kan du få hjälp med att bygga bland annat:
            </p>
            <ul class="font-bold">
              <li>Hemsida för ditt företag</li>
              <li>Webplatser för E-handel</li>
            </ul>
          </BusinessAreaCard>
          <BusinessAreaCard title="Anpassad mjukvara">
            <p>
              Vi hjälper företag att skapa mjukvara som är anpassad för deras
              verksamhet. Det kan vara allt från en enkel kunddatabas till
              Saas-lösningar för hela branscher. Vi hjälper bland annat:
            </p>
            <ul class="font-bold">
              <li>Startups</li>
              <li>Interna verktyg</li>
            </ul>
          </BusinessAreaCard>
          <BusinessAreaCard title="Affärskonsulting">
            <p>
              Vi hjälper företag att hitta rätt lösningar för sina behov. Det
              kan vara allt från att hitta rätt affärssystem till att skapa
              processer för att effektivisera verksamheten.
            </p>
          </BusinessAreaCard>
        </div>
      </div>
    </div>
    <div class="flex flex-col items-center pb-12 md:pb-32 gap-4 p-3 xl:px-0">
      <PortraitCard />
    </div>
    <div
      class="flex flex-col items-center justify-left gap-4 p-2 pb-12 xl:px-0 md:pb-24"
    >
      <div class="lg:w-[1300px] shrink flex flex-col items-center">
        <h2 class="text-xl md:text-2xl pb-6 font-bold text-center md:text-left">
          Några av våra senaste webbplatser
        </h2>
        <div class="gap-2 md:gap-2 grid grid-cols-1 max-w-[1100px] shrink">
          <ShowcaseSiteItem
            title="Vätterledens Invest"
            link="https://viab.se"
            description="Tillsammans med designers från marknadsbyrån 2028 skapade vi en hemsida för Vätterledens Invest. Vi är mycket nöjda med resultatet:"
            buttontext="Besök hemsidan"
            image={VätterledensInvest}
          />
          <ShowcaseSiteItem
            title="Supai Kitchen"
            link="https://supai.se/curryketchup/"
            description="Supai beskriver sig själva som en stark kraft i göteborgs matvärld och vi är glada att ha fått möjligheten arbeta tillsammans."
            buttontext="Kolla in deras curryketchup"
            image={supai}
          />
          <ShowcaseSiteItem
            title="VHAB"
            link="https://vhab.se"
            description="VHAB förvaltar och investerar i bland annat företag och fastigheter. Vi har tillsammans med webb-designers hjälpt dem att skapa en hemsida som speglar deras verksamhet."
            buttontext="Ta en titt"
            image={vhab}
          />
        </div>
      </div>
    </div>
    <div
      class="flex flex-col items-center justify-left gap-4 p-2 pb-12 xl:px-0 md:pb-24"
    >
      <div
        class="xl:w-[1300px] shrink flex-col-reverse flex md:flex-row gap-2 justify-between rounded-xl"
      >
        <div class="bg-white p-8 rounded-lg grow">
          <h2 class="text-2xl md:text-4xl font-bold text md:text-left mb-4">
            Affärsspecifik mjukvara
          </h2>
          <p>
            Vi bygger mjukvara som är anpassad för ditt företag. Det kan vara
            allt från en enkel kunddatabas till en komplex affärssystem. Vi
            hjälper dig att hitta rätt lösning för ditt företag.
          </p>
        </div>
        <Image
          src={PortraitBridge}
          alt="portrait"
          class="rounded-lg w-full md:w-1/3"
          width={600}
          decoding="async"
          loading="lazy"
        />
      </div>
    </div>
  </div></Layout
>
