---
import Layout from "../layouts/Layout.astro";

import PortraitCard from "../components/PortraitCard.astro";

import StartHero from "../components/StartHero.astro";
import WebsiteShowcase from "../components/WebsiteShowcase.astro";
import BusinessAreas from "../components/BusinessAreas.astro";
import CustomSoftwareCards from "../components/CustomSoftwareCards.astro";
import OptimizedCard from "../components/OptimizedCard.astro";
import IsolShowCaseCard from "../components/IsolShowCaseCard.astro";
import OrganizationJSONLD from "@layouts/JSONLD/OrganizationJSONLD.astro";
---

<Layout
  title="Cabanossy - Upplev utveckling"
  description="Vi utvecklar företags verksamheter med hjälp av webbplatser, mjukvara och en förståelse för människor."
>
  <OrganizationJSONLD slot="head" />
  <div class="items-center">
    <StartHero />
    <div class="flex flex-col items-center gap-8 pb-20">
      <div class="max-w-[1300px] p-3 xl:p-0">
        <BusinessAreas />
      </div>
    </div>
    <div class="flex flex-col items-center pb-20 gap-4 px-3 xl:px-0">
      <PortraitCard />
    </div>
    <div
      class="flex flex-col items-center justify-left gap-4 px-3 pb-12 xl:px-0 md:pb-20"
    >
      <div class="max-w-[1300px] shrink">
        <WebsiteShowcase />
      </div>
    </div>
    <div class="pb-12 md:pb-20 px-3 xl:px-0">
      <div class="max-w-[1300px] mx-auto">
        <IsolShowCaseCard />
      </div>
    </div>
    <div
      class="flex flex-col items-center justify-left gap-4 p-2 pb-12 xl:px-0 md:pb-20"
    >
      <div class="xl:w-[1300px]">
        <OptimizedCard />
      </div>
    </div>
  </div></Layout
>
