---
import OptimizedCard from "../components/OptimizedCard.astro";
import WebPageTypesMosaic from "../components/WebPageTypesMosaic.astro";
import BusinessAreaLayout from "../layouts/BusinessAreaLayout.astro";
import Image from "astro/components/Image.astro";
import Team from "../assets/team.svg";
import Office from "../assets/office.svg";
import Deliveries from "../assets/deliveries.svg";
import SoftwareTypeCard from "../components/SoftwareTypeCard.astro";
---

<BusinessAreaLayout
  title="Mjukvara"
  description="Vi bygger mjukvara för interna och externa produkter."
>
  <div class="xl:w-[1300px] p-2 lg:p-0 gap-4 mb-16 grid md:grid-cols-2">
    <SoftwareTypeCard
      title="För Startups"
      text="Vi har erfarenhet av att bygga produkter som är skalbara och som kan skapa tillväxt för startups. Vi hjälper er att bygga en MVP och att iterera på produkten för att skapa en produkt som användarna älskar. Vi erbjuder bland annat hjälp med prototyping, design, testning och utveckling."
      image={Team}
    />
    <SoftwareTypeCard
      title="Intern mjukvara"
      text="Vi bygger interna verktyg för att effektivisera arbetsflöden. Vi hjälper er att bygga verktyg som kan automatisera uppgifter och skapa en bättre arbetsmiljö för era anställda. Med oss som partner får ni ett nära samarbete där vårt mål är ett positivt resultat för människor och företag."
      image={Office}
    />
    <SoftwareTypeCard
      title="Produktutveckling"
      text="Vi hjälper er att bygga produkter som är skalbara och som kan växa med er verksamhet. Vi har erfarenhet av att bygga produkter för slutanvändare med höga krav på prestanda och användarupplevelse."
      image={Deliveries}
    />
  </div>
</BusinessAreaLayout>
