---
import OptimizedCard from "../components/OptimizedCard.astro";
import BusinessAreaLayout from "../layouts/BusinessAreaLayout.astro";
---

<BusinessAreaLayout title="Webbsidor">
  <div class="xl:w-[1300px] p-8 bg-white rounded-xl shadow-xl mb-16">
    <h1 class="text-4xl font-bold mb-4">Uppnå ditt mål</h1>
    <p class="mb-8">
      Vi hjälper dig att skapa en webbsida som är anpassad efter dina behov och
      mål. Oavsett om du vill ha en enkel hemsida eller en mer avancerad
      webbplats så kan vi hjälpa dig.
    </p>
    <h2 class="text-2xl font-bold mb-4">Alla har olika mål</h2>
    <p class="mb-8">
      Vi vet att alla har olika mål med sin webbsida. Vissa vill ha en sida som
      bara ska fungera som en visitkortssida, medan andra vill ha en sida som
      ska fungera som en säljkanal. Till exempel kan man:
    </p>
    <ul class="list-disc pl-8 mb-8">
      <li>Sälja bättre via webben</li>
      <li>Marknadsföra sitt företag</li>
      <li>Marknadsföra ett varumärke</li>
      <li>Skapa en sida för att marknadsföra en tjänst</li>
      <li>Dela med sig av nyheter och inlägg</li>
    </ul>
  </div>
  <div class="xl:w-[1300px]">
    <OptimizedCard />
  </div>
</BusinessAreaLayout>
