---
import OptimizedCard from "../components/OptimizedCard.astro";
import BusinessAreaLayout from "../layouts/BusinessAreaLayout.astro";
import WebpageProcessCard from "../components/WebpageProcessCard.astro";
import WebPageTechnologies from "../components/WebPageTechnologies.astro";
import WebsiteShowcase from "@components/WebsiteShowcase.astro";
import WebsiteStatsCard from "@components/WebsiteStatsCard.astro";
---

<BusinessAreaLayout
  title="Webbplatser"
  description="Vi skapar webbplatser, e-handel och mycket mer."
>
  <div class="xl:w-[1300px] p-2 lg:p-0 mb-16">
    <WebsiteStatsCard />
  </div>
  <div
    class="flex flex-col items-center justify-left gap-4 px-3 pb-12 xl:px-0 md:pb-20"
  >
    <div class="max-w-[1300px] shrink">
      <WebsiteShowcase />
    </div>
  </div>
  <div class="xl:w-[1300px] p-2 lg:p-0 mb-16">
    <WebpageProcessCard />
  </div>
  <div class="max-w-[1300px] p-2 lg:p-0 gap-4 mb-16">
    <div>
      <WebPageTechnologies />
    </div>
  </div>

  <div class="p-2 lg:p-0 xl:w-[1300px]">
    <OptimizedCard />
  </div>
</BusinessAreaLayout>
