---
import OptimizedCard from "../components/OptimizedCard.astro";
import WebPageTypesMosaic from "../components/WebPageTypesMosaic.astro";
import BusinessAreaLayout from "../layouts/BusinessAreaLayout.astro";
---

<BusinessAreaLayout title="Webbsidor">
  <div class="xl:w-[1300px] p-2 lg:p-0 grid grid-cols-2 gap-4 mb-16">
    <div class="bg-white rounded-xl shadow-xl">
      <div
        class="px-6 py-4 bg-gradient-to-tr to-blue-400 from-blue-300 flex justify-between items-center rounded-t-xl"
      >
        <!-- <Icon name="mdi:open-in-new" class="text-blue-800" size={22} /> -->
      </div>
      <div class="p-8">
        <h2 class="text-2xl font-bold mb-4">Ny webbplats</h2>
        <p class="mb-8">
          Vi hjälper dig att skapa en ny webbplats från grunden. Hör av dig för
          att lära dig mer om hur vi kan utveckla tillsammans.
        </p>
        <a
          href="/kontakt"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >Kontakta oss</a
        >
      </div>
    </div>
    <div class="bg-white rounded-xl shadow-xl">
      <div
        class="px-6 py-4 bg-gradient-to-tr to-blue-400 from-blue-300 flex justify-between items-center rounded-t-xl"
      >
        <!-- <Icon name="mdi:open-in-new" class="text-blue-800" size={22} /> -->
      </div>
      <div class="p-8">
        <h2 class="text-2xl font-bold mb-4">Befintlig webbplats</h2>
        <p class="mb-8">
          Har du en befintlig webbplats som behöver uppdateras? Vi hjälper dig
          att uppdatera och förbättra din webbplats.
        </p>
        <a
          href="/kontakt"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >Kontakta oss</a
        >
      </div>
    </div>
  </div>
  <div class="xl:w-[1300px] p-2 lg:p-0">
    <WebPageTypesMosaic />
  </div>
  <div class="xl:w-[1300px] p-8 bg-white rounded-xl shadow-xl mb-16">
    <h1 class="text-4xl font-bold mb-4">Så går det till</h1>
    <p class="mb-8">
      Vi hjälper dig att skapa en webbsida som är anpassad efter dina behov och
      mål. Oavsett om du vill ha en enkel hemsida eller en mer avancerad
      webbplats så kan vi hjälpa dig.
    </p>
    <h2 class="text-2xl font-bold mb-4">Alla har olika mål</h2>
    <p class="mb-8">
      Vi vet att alla har olika mål med sin webbsida. Vissa vill ha en sida som
      bara ska fungera som en visitkortssida, medan andra vill ha en sida som
      ska fungera som en säljkanal. Till exempel kan man:
    </p>
  </div>
  <div class="xl:w-[1300px] p-8 bg-white rounded-xl shadow-xl mb-16">
    <h2 class="text-2xl font-bold mb-4">Så går det till</h2>
  </div>
  <div class="xl:w-[1300px]">
    <OptimizedCard />
  </div>
</BusinessAreaLayout>
