---
import OptimizedCard from "../components/OptimizedCard.astro";
import BusinessAreaLayout from "../layouts/BusinessAreaLayout.astro";
import Image from "astro/components/Image.astro";
import Website from "../assets/website.svg";
import Together from "../assets/together.svg";
import WebpageProcessCard from "../components/WebpageProcessCard.astro";
import WebPageTechnologies from "../components/WebPageTechnologies.astro";
import PortraitBridge from "../assets/bridge-portrait.jpg";
---

<BusinessAreaLayout
  title="Webbplatser"
  description="Vi skapar webbplatser, e-handel och mycket mer."
>
  <div class="xl:w-[1300px] p-2 lg:p-0 mb-16">
    <WebpageProcessCard />
  </div>
  <div class="max-w-[1300px] p-2 lg:p-0 gap-4 mb-16">
    <div>
      <WebPageTechnologies />
    </div>
  </div>

  <div class="p-2 lg:p-0 xl:w-[1300px]">
    <OptimizedCard />
  </div>
</BusinessAreaLayout>
