---
import Image from "astro/components/Image.astro";

import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  iconName: string;
  href: string;
  image: ImageMetadata;
}

const { title, iconName, href, image } = Astro.props;
---

<a
  class="bg-white rounded-xl shadow-lg hover:tramsform lg:hover:scale-[103%] transition-transform"
  href={href}
>
  <div class="flex flex-col items-start gap-3 p-6 grow relative">
    <Image
      src={image}
      alt={title + " icon"}
      width={200}
      class="h-36 w-36 mx-auto rounded-full bg-[#f2f2f2] pt-6"
    />
    <h2 class="text-2xl font-bold">
      {title}
    </h2>
    <slot />
    <div class="absolute right-5 bottom-5">
      <Icon name="mdi:arrow-right" class="w-6 h-6" />
    </div>
  </div>
</a>
