---
import BusinessAreaCard from "../components/BusinessAreaCard.astro";
import BusinessAreaBadg from "../components/BusinessAreaBadg.astro";
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8">
  <BusinessAreaCard title="Webbplatser" iconName="mdi:code">
    <p>
      Detta är vanligtvis vad du som reklambyrå eller företag är intresserad av.
      Med oss kan du få hjälp med att bygga bland annat:
    </p>
    <div class="flex items-start gap-1 flex-wrap">
      <BusinessAreaBadg title="Företagshemsidor" />
      <BusinessAreaBadg title="E-handel" />
      <BusinessAreaBadg title="Varumärken" />
    </div>
  </BusinessAreaCard>
  <BusinessAreaCard title="Anpassad mjukvara" iconName="mdi:computer">
    <p>
      Vi hjälper företag att skapa mjukvara som är anpassad för deras
      verksamhet. Det kan vara allt från en enkel kunddatabas till
      Saas-lösningar för hela branscher. Detta passar:
    </p>
    <div class="flex items-start gap-1 flex-wrap">
      <BusinessAreaBadg title="Startups" />
      <BusinessAreaBadg title="Interna verktyg" />
    </div>
  </BusinessAreaCard>
  <BusinessAreaCard title="Konsulting" iconName="mdi:account">
    <p>
      Vi delar med oss av expertis. Det kan vara allt från att hitta rätt
      affärssystem till att skapa processer för att effektivisera verksamheten.
    </p>
    <div class="flex items-start gap-1 flex-wrap">
      <BusinessAreaBadg title="Verksamhetsutveckling" />
      <BusinessAreaBadg title="Inköpsstöd" />
      <BusinessAreaBadg title="Systemmigrering" />
    </div>
  </BusinessAreaCard>
</div>
