---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="bg-white rounded-lg">
  <h3 class="text-2xl font-bold p-8 bg-blue-300 rounded-t-lg">
    {title}
  </h3>
  <div class="flex flex-col items-start gap-3 p-8 grow">
    <slot />
  </div>
</div>
