---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="bg-gradient-to-r from-blue-900 to-blue-800 text-white px-3 py-1 rounded-lg font-bold">
  <span>
    {title}
  </span>
</div>
