---
import BusinessAreaCard from "../components/BusinessAreaCard.astro";
import BusinessAreaBadg from "../components/BusinessAreaBadg.astro";
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-8">
  <BusinessAreaCard title="Webbplatser" iconName="mdi:code" href="/webb">
    <p>
      Vi arbetar direkt med dig som behöver hjälp med egna webbplatser och som
      partner för att leverera webbplatser till dina kunder. Detta passar:
    </p>
    <div class="flex items-start gap-1 flex-wrap">
      <BusinessAreaBadg title="Företagshemsidor" />
      <BusinessAreaBadg title="E-handel" />
      <BusinessAreaBadg title="Varumärken" />
    </div>
  </BusinessAreaCard>
  <BusinessAreaCard
    title="Anpassad mjukvara"
    iconName="mdi:computer"
    href="/mjukvara"
  >
    <p>
      Vi skapar mjukvara som är anpassad för olika verksamheter. Det kan vara
      allt från en enkel kunddatabas till Saas-lösningar för hela branscher.
      Detta passar:
    </p>
    <div class="flex items-start gap-1 flex-wrap">
      <BusinessAreaBadg title="Startups" />
      <BusinessAreaBadg title="Interna verktyg" />
      <BusinessAreaBadg title="Integrationer" />
    </div>
  </BusinessAreaCard>
  <BusinessAreaCard title="Konsulting" iconName="mdi:account" href="/konsult">
    <p>
      Vi erbjuder stöd när ditt företag utvecklas. Vår expetis gör att ditt
      företag kan fokusera på det ni är bäst på. Vi kan bland annat ge stöd
      inom:
    </p>
    <div class="flex items-start gap-1 flex-wrap">
      <BusinessAreaBadg title="Verksamhetsutveckling" />
      <BusinessAreaBadg title="Inköp" />
      <BusinessAreaBadg title="Systemmigrering" />
    </div>
  </BusinessAreaCard>
</div>
