---
import { Image } from "astro:assets";
import PageSpeedLogo from "../assets/pagespeedlogo.png";
---

<footer class="w-full bg-blue-900 py-24 flex flex-col items-center">
  <div class="grid grid-cols-1 md:grid-cols-4 text-white xl:w-[1300px]">
    <div class="p-4">
      <h3 class="text-2xl">Kontakt</h3>
      <p>info@cabanossy.se</p>
    </div>
    <div class="p-4">
      <h3 class="text-2xl">Postadress</h3>
      <p>Krokegatan 4</p>
      <p>413 18 Göteborg</p>
    </div>
    <div class="p-4">
      <h3 class="text-2xl">Kontorsadress</h3>
      <p>Banehagsgatan 11</p>
      <p>414 51 Göteborg</p>
    </div>
  </div>
</footer>
