---
import CloudPattern from "../assets/grain.svg";
---

<footer
  class="w-full bg-blue-900 py-24 flex flex-col items-center bg-repeat"
  style={{ backgroundImage: `url(${CloudPattern.src})` }}
>
  <div class="grid grid-cols-1 md:grid-cols-4 text-white xl:w-[1300px]">
    <div class="p-4">
      <h2 class="text-2xl">Kontakt</h2>
      <p>info@cabanossy.se</p>
    </div>
    <div class="p-4">
      <h2 class="text-2xl">Postadress</h2>
      <p>Kjellmansgatan 20</p>
      <p>414 63 Göteborg</p>
    </div>
    <div class="p-4">
      <h2 class="text-2xl">Kontorsadress</h2>
      <p>Sannaplan 8</p>
      <p>414 73 Göteborg</p>
    </div>
  </div>
</footer>
