---
import { Image } from "astro:assets";
import PageSpeedLogo from "../assets/pagespeedlogo.png";
import CloudPattern from "../assets/grain.svg";
import MicrosoftCSP from "../assets/Microsoft-CSP.png";
---

<footer
  class="w-full bg-blue-900 py-24 flex flex-col items-center bg-repeat"
  style={{ backgroundImage: `url(${CloudPattern.src})` }}
>
  <div class="grid grid-cols-1 md:grid-cols-4 text-white xl:w-[1300px]">
    <div class="p-4">
      <h2 class="text-2xl">Kontakt</h2>
      <p>info@cabanossy.se</p>
    </div>
    <div class="p-4">
      <h2 class="text-2xl">Postadress</h2>
      <p>Krokegatan 4</p>
      <p>413 18 Göteborg</p>
    </div>
    <div class="p-4">
      <h2 class="text-2xl">Kontorsadress</h2>
      <p>Banehagsgatan 11</p>
      <p>414 51 Göteborg</p>
    </div>
  </div>
</footer>
