---
import Logo from "../assets/Cabanossy-Snurra_nobg_lightblue.svg";
import { Image } from "astro:assets";
---

<div class="bg-white flex rounded-xl shadow-lg xl:w-[900px]">
  <div
    class="flex flex-col-reverse md:flex-row p-6 md:p-8 gap-4 md:items-center"
  >
    <div class="grow flex flex-col">
      <h1 class="text-2xl font-bold">Detta är en optimerad webbplats</h1>
      <p class="">
        Sidan du besöker just nu uppyller mycket höga krav. Sidan är byggd för
        att laddas snabbt och är sökoptimerad samt anpassad för tillgänglighet.
        Enligt mätverktyg från Google får sidan
        <strong> maxpoäng </strong>
        i alla kategorier.
      </p>
      <a href="posts/astro-site" class="text-blue-700 hover:underline mt-1"
        >Läs mer om sidan här.</a
      >
    </div>
    <Image
      src={Logo}
      class={"h-16 w-16 md:h-32 md:w-32 shrink rounded-full bg-blue-900"}
      alt="cabanossy logo"
      decoding="async"
    />
  </div>
</div>
