---
import Portrait from "../assets/portrait.jpg";
---

<div
  class="max-w-[1300px] min-h-96 grid grid-cols-1 md:grid-cols-2 rounded-xl bg-white"
>
  <img
    src={Portrait.src}
    class="object-contain rounded-t-lg md:rounded-r-none md:rounded-l-xl"
  />
  <div class="p-5 md:p-8 flex flex-col gap-4">
    <h3 class="text-4xl font-bold md:mb-2">Vi håller oss uppdaterade</h3>
    <p class="md:text-xl">
      Jag (Adam) och mina samarbetspartners håller oss ständigt uppdaterade med
      den senaste tekniken. Vi drivs alla av att skapa webbplatser som är
      moderna och användarvänliga.
    </p>
    <small>
      <a href="https://www.linkedin.com/in/adam-liljenberg/">
        Läs mer om mig på LinkedIn
      </a>
    </small>
  </div>
</div>
