---
import Portrait from "../assets/portrait.jpg";
import { Image } from "astro:assets";
---

<div
  class="max-w-[1300px] min-h-96 grid grid-cols-1 lg:grid-cols-2 rounded-xl bg-white"
>
  <Image
    src={Portrait}
    width="800"
    class="object-contain rounded-t-lg lg:rounded-r-none lg:rounded-l-xl w-full lg:w-auto"
    alt="Adam Liljenberg porträttbild"
  />
  <div class="p-5 md:p-8 flex flex-col gap-4">
    <h3 class="text-4xl font-bold md:mb-2">Vi håller oss uppdaterade</h3>
    <p class="md:text-xl">
      Jag (Adam) och mina samarbetspartners håller oss ständigt uppdaterade med
      den senaste tekniken. Vi drivs alla av att skapa webbplatser som är
      moderna och användarvänliga.
    </p>
    <small>
      <a href="https://www.linkedin.com/in/adam-liljenberg/">
        Läs mer om mig på LinkedIn
      </a>
    </small>
  </div>
</div>
