---
import Image from "astro/components/Image.astro";

interface Props {
  title: string;
  text: string;
  image: ImageMetadata;
}

const { title, text, image } = Astro.props;
---

<div class="bg-white-800 rounded-xl bg-white p-8 shadow-xl">
  <div class="flex flex-col md:grid grid-cols-4 gap-4">
    <div class="grow col-span-3 flex flex-col gap-2">
      <h2 class="text-3xl font-bold">
        {title}
      </h2>
      <p class="">
        {text}
      </p>
      <a href="mailto:info@cabanossy.se?subject=Webbplats">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg mt-2"
        >
          Kontakta oss
        </button>
      </a>
    </div>
    <Image
      src={image}
      alt="Team"
      class="order-first md:order-none"
      width={150}
    />
  </div>
</div>
