---
import Logo from "../assets/Cabanossy-Snurra_nobg.svg";
import { Image } from "astro:assets";
---

<div class="gap-8 grid grid-cols-1 md:grid-cols-2">
  <div
    class="py-32 sm:py-24 col-span-2 flex flex-col items-center p-3 md:p-16 bg-gradient-to-tr from-blue-50 to-blue-100"
  >
    <Image
      src={Logo}
      class={"h-24 w-24 md:h-32 md:w-32 shrink rounded-full bg-yellow-200"}
      alt="cabanossy logo"
      decoding="async"
    />
    <div class="flex flex-col py-6 md:py-12 text-center gap-5">
      <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold">
        Web och mjukvara
      </h1>
      <p class="text-md sm:text-lg md:text-xl max-w-[700px]">
        Vi brinner för mjukvaruutveckling och web. Det syns på resultatet.
      </p>
    </div>
  </div>
</div>
