<ul class="grid grid-cols-3 gap-4 mb-16">
  <li
    class="bg-gradient-to-tr to-green-300 from-green-200 rounded-xl shadow-lg p-4 text-center font-bold text-sm lg:text-xl flex justify-center items-center aspect-square transform hover:scale-105 transition-transform"
  >
    E-Handel
  </li>
  <li
    class="bg-gradient-to-tr to-red-300 from-red-200 rounded-xl shadow-lg p-4 text-center font-bold text-sm lg:text-xl flex justify-center items-center aspect-square hover:scale-105 transition-transform"
  >
    Varumärke
  </li>
  <li
    class="bg-gradient-to-tr to-amber-200 from-amber-100 rounded-xl shadow-lg p-4 text-center font-bold text-sm lg:text-xl flex justify-center items-center aspect-square hover:scale-105 transition-transform"
  >
    Företagssida
  </li>
  <li
    class="bg-gradient-to-tr to-slate-200 from-slate-100 rounded-xl shadow-lg p-4 text-center font-bold text-sm lg:text-xl flex justify-center items-center aspect-square hover:scale-105 transition-transform"
  >
    Prospekt
  </li>
  <li
    class="bg-gradient-to-tr to-purple-200 from-purple-100 rounded-xl shadow-lg p-4 text-center font-bold text-sm lg:text-xl flex justify-center items-center aspect-square hover:scale-105 transition-transform"
  >
    Evenemang
  </li>
  <li
    class="bg-gradient-to-tr to-blue-200 from-blue-100 rounded-xl shadow-lg p-4 text-center font-bold text-sm lg:text-xl flex justify-center items-center aspect-square hover:scale-105 transition-transform"
  >
    Personal branding
  </li>
  <li
    class="bg-gradient-to-tr to-teal-200 from-teal-100 rounded-xl shadow-lg p-4 text-center font-bold text-sm lg:text-xl flex justify-center items-center aspect-square hover:scale-105 transition-transform"
  >
    Rekrytering
  </li>
  <li
    class="bg-gradient-to-tr to-cyan-200 from-cyan-100 rounded-xl shadow-lg p-4 text-center font-bold text-sm lg:text-xl flex justify-center items-center aspect-square hover:scale-105 transition-transform"
  >
    Utbildning
  </li>
</ul>
