---
import WebpageProcessStep from "./WebpageProcessStep.astro";
---

<div class="max-w-[1300px] rounded-xl shadow-lg bg-white gap-6 p-8">
  <div class="py-4 md:text-center text-gray-900 md:pb-10 mb-8">
    <h2 class="text-3xl font-semibold text-gray-900 dark:text-white mb-2">
      Så skapar vi din webbplats
    </h2>
    <p>För enkelhetens skull delar vi upp arbetet i steg.</p>
  </div>
  <ol class="grid grid-cols-1 md:grid-cols-3 md:p-4">
    <WebpageProcessStep
      title="Struktur"
      subtitle="Design, funktion, behov"
      description="Vi börjar med att skapa en struktur för webbplatsen. Detta innebär att vi skapar en design, funktionalitet och identifierar behov."
      icontext="1"
    />
    <WebpageProcessStep
      title="Innehåll"
      subtitle="Text, bild, video"
      description="När strukturen är på plats laddar vi upp innehåll. Om du själv vill administrera webbplatsen i framtiden gör vi detta steg tillsammans."
      icontext="2"
    />
    <WebpageProcessStep
      title="Justering"
      subtitle="Enhetsprövning, optimering, SEO, lansering"
      description="Vi testar webbplatsen på olika enheter, optimerar för snabbhet och sökmotoroptimerar. När allt är klart lanserar vi webbplatsen."
      icontext="3"
    />
  </ol>
  <div class="text-center py-6 md:pt-12">
    <a href="mailto:info@cabanossy.se?subject=Webbplats">
      <button
        class="bg-neutral-200 hover:bg-neutral-300 font-bold py-2 px-3 rounded-lg mt-2"
      >
        Kontakta oss
      </button>
    </a>
  </div>
</div>
