---
import WebpageProcessStep from "./WebpageProcessStep.astro";
---

<div class="max-w-[1300px] rounded-xl shadow-lg bg-white gap-6 p-8">
  <div
    class="md:text-center text-gray-900 flex items-center justify-center md:gap-24"
  >
    <h2>
      <span class="text-9xl font-light text-gray-900 dark:text-white my-auto">
        10+
      </span>
      <br />
      <span class="text-xl font-light text-gray-900 dark:text-white uppercase">
        Webbshoppar i drift
      </span>
    </h2>
    <!-- <div class="grow text-left">
      <ul>
        <li>
          <strong>Design</strong> med fokus på användarvänlighet och konvertering.
        </li>
      </ul>
    </div> -->
  </div>
</div>
