#root {
  max-width: 1280px;
  margin: 0 auto;
}

.logo-container {
  height: 12rem;
  position: sticky;
  top: 0;
  box-sizing: border-box;
  padding: 4rem;
}

.logo {
  object-fit: contain;
  width: 100%;
  height: 100%;

  overflow: hidden;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  display: flex;
  flex-direction: column;
  height: 30rem;
  align-items: start;
  padding: 2rem;
  margin: 0 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1em #00000022;
  background-color: #f8f8f8;
  transition: transform 300ms;
  position: sticky;
  top: 12rem;
}
