@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: larger;

  --theme-hue: 55;
  background-color: hsl(var(--theme-hue), 61.58%, 65.29%);
  /* filter: brightness(50); */
}
