---
import Layout from "./Layout.astro";
import Logo from "../assets/Cabanossy-Snurra_nobg.svg";
import { Image } from "astro:assets";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="flex flex-col">
    <div
      class="h-[300px] flex flex-col items-center justify-center gap-4 p-2 py-12 xl:px-0 bg-gradient-to-tr to-blue-400 from-blue-300"
    >
      <div class="flex flex-col items-center gap-8">
        <a href="/">
          <Image
            src={Logo}
            alt="Cabanossy Snurra logo"
            class={"h-24 w-24 md:h-32 md:w-32 shrink rounded-full bg-green-200"}
          />
        </a>
        <h1 class="text-6xl font-bold text-center text-gray-900">{title}</h1>
      </div>
    </div>
    <div class="xl:w-[1300px] self-center py-16">
      <slot />
    </div>
  </div>
</Layout>
