---
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

import CloudPattern from "../assets/grain.svg";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#93c5fd" />

    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="https://cabanossy.se/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="114x114"
      href="https://cabanossy.se/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="72x72"
      href="https://cabanossy.se/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="https://cabanossy.se/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="60x60"
      href="https://cabanossy.se/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="120x120"
      href="https://cabanossy.se/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="76x76"
      href="https://cabanossy.se/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="152x152"
      href="https://cabanossy.se/apple-touch-icon-152x152.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cabanossy.se/favicon-196x196.png"
      sizes="196x196"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cabanossy.se/favicon-96x96.png"
      sizes="96x96"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cabanossy.se/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cabanossy.se/favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://cabanossy.se/favicon-128.png"
      sizes="128x128"
    />
    <meta name="application-name" content="Cabanossy" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta
      name="msapplication-TileImage"
      content="https://cabanossy.se/mstile-144x144.png"
    />
    <meta
      name="msapplication-square70x70logo"
      content="https://cabanossy.se/mstile-70x70.png"
    />
    <meta
      name="msapplication-square150x150logo"
      content="https://cabanossy.se/mstile-150x150.png"
    />
    <meta
      name="msapplication-wide310x150logo"
      content="https://cabanossy.se/mstile-310x150.png"
    />
    <meta
      name="msapplication-square310x310logo"
      content="https://cabanossy.se/mstile-310x310.png"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="preconnect"
    />
  </head>
  <body
    class="bg-blue-200"
    style={{ backgroundImage: `url(${CloudPattern.src})` }}
  >
    <slot />
    <Footer />
  </body>
</html>

<style>
  :global(body) {
    font-size: large;
  }
</style>
